<template>
    <div>
        <div class="new_member">
            <div class="form-group" v-for="(f, index) in forms" :key="index">
                <label for="InputName">Name {{index === 0 ? '(leader)' : ''}}</label>
                <input :autocomplete="active_index === index ? 'on' : 'nope'" type="text" class="form-control"
                       id="InputName" placeholder="Enter name"
                       :name="`name[${index}]`"
                       @keyup="keypressCurrentVal(index)"
                       @focus="active_index = index"
                       @blur="active_index = null"
                       v-model="f.name"
                       :list="'names'+index">
                <datalist :id="'names'+index" v-show="active_index === index">
                    <option @change="optionChange" :value="user.name" v-for="user in getEntriesByName(f.name)"></option>
                </datalist>

                <label for="InputPhone">Phone</label>
                <input type="text" class="form-control" id="InputPhone" placeholder="Phone" :name="`phone[${index}]`"
                       :class="{'has-danger': !checkNumberValid(f.phone)}"
                       v-model="f.phone">
                <small style="color: red" v-if="!checkNumberValid(f.phone)">Invalid format</small>
                <br>
            </div>

        </div>

        <!--<label class="end_form"></label>-->
        <input type="hidden" id="user-city" name="user-city">
        <input type="hidden" id="country" name="country">

        <button type="button" class="btn new_p" @click="copyEmptyPush">Add member</button>
        <button type="submit" class="btn btn-primary" :disabled="voidIsHere(forms) || (uniqueCount<forms.length)">Send
        </button>
    </div>
</template>
<script>
    import {cloneDeep, uniqBy} from 'lodash'

    export default {
        props: ['users'],
        data() {
            return {
                forms: [],
                empty_form: {
                    name: '',
                    phone: ''
                },
                phone_reg: /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im,
                active_index: null

            }
        },
        computed: {
            uniqueCount() {
                return [...new Set(this.forms.filter(e => Object.values(e).every(_ => _ !== '')).map(el => el.name))].length
            }
        },
        methods: {
            voidIsHere(obj) {

                for (let i = 0; i <= obj.length - 1; i++) {
                    let current = obj[i]
                    if (Object.values(current).some(e => e === null || e === '') || !this.checkNumberValid(current.phone)) {
                        return true
                    }
                }
                return false
            },
            allNumberIsValid(o) {
                return o.every(_ => this.checkNumberValid(_.phone))
            },
            optionChange(e) {
                this.active_index = null
            },
            keypressCurrentVal(index) {
                console.log(this.forms[index].name, 'name', index)
                let find = this.users.findIndex(e => this.forms[index].name === e.name)
                if (find !== -1) {
                    this.forms[index].phone = this.users[find].phone
                }
            },
            checkNumberValid(number) {
                return number ? this.phone_reg.test(number) : true
            },
            getEntriesByName(search) {
                return this.users.filter(_ => _.name.includes(search))
            },
            copyEmptyPush() {
                this.forms.push(cloneDeep(this.empty_form))
            }
        },
        created() {
            this.copyEmptyPush()
        }
    }
</script>
<style scoped>
    .has-danger {
        border: 1px red solid;
    }
</style>
